<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyj.direction"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application

        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Direction">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByRMe8nJ5cp0bKSKcpQLM5URiu07U1DvQ"/>
        <meta-data
            android:name="com.google.android.geo.gms.version"
            android:value="12451000"/>

        <activity android:name=".TMAP.TMapActivity"
            >


        </activity>

        <activity android:name=".DirectionActivity"
            android:theme="@style/ActionBarTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity">


        </activity>


    </application>

</manifest>